body {
    font-family: 'Rubik', sans-serif;
    padding: 20px;
    background-color: #f1f1f1;
    color: #4E4E50;
}

/* HEADER CONTENT */
.banner {
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: #1A1A1D;
    width: 100%;
    height: 100px;
}

#name {
    font-size: 40px;
}
/* NAVBAR CONTENT */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6F2232;
    /* border: 2px solid #C3073F; */
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: #4E4E50;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: #1A1A1D;}
  
  ul.topnav li a.active {background-color: #950740;}
  
  /* ul.topnav li.right {float: left;} */

  li {
    border: 2px solid #C3073F;
  }
  
  /* li:last-child {
    border-right: 1px solid #C3073F;
  } */
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }

/* about me */
  #main-container {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: calc(100vh - 70px);
    
  }

  /* #main-container.container {
    height: 50px;
  } */
  
  .main-section {
    float: left;
    width: 100%;
    max-width: 990px;
    padding: 30px;
    margin: 0 0 50px;
    background: #6F2232;
    border: 1px solid #dddddd;
    margin-top: 0px;
  }

  .imgPara  {
    display: flex;
    
  }

  .imgPara img {
    margin-right: 10px;
  }

  .imgPara p {
    flex-wrap: wrap;
    line-height: 1.8;
  }

  /* PROJECTS */

  * {
    box-sizing: border-box;
  }
  
 
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
    
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }

  /* h1 h2 {
    color: #4E4E50;
  } */
  
  /* h3 p {
    color: #1A1A1D;
  } */

  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: #C3073F;
    padding: 10px;
    color: #1A1A1D !important;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #1A1A1D;
    color: #4E4E50;
    text-align: center;
  }